*{
    margin: 0;
    padding: 0;
}

.me{
    padding: 30px 30px 20px;
    font-size: x-large;
    line-height: 30px;
    color: lavender; 
    display: block;
    background: none;
    border:none;
    margin: auto;
    font-weight: bold;
    text-align: center;
    
}

.backBtn{
    color: #ffc247;
    text-align: center;
    padding-top: 60px;
}

 .backBtn:hover {
    color: #43b1ac;

    
}
.name{
    
    color:transparent;
    text-align: center;
    padding-top: 60px;
    -webkit-text-stroke: #ffc247;
    -webkit-text-stroke-width: 1px;
    background:url(back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    background-color: #ffc247;
    animation: back 20s linear infinite;

}
@keyframes back{
    100%{
        background-position: 2000px 0;
    }
}

a:link{
    text-decoration: none;
}


.backBtn{
    font-size: xx-large;
    padding-top: 2px;
}
.me{
    max-width: 500px;
    padding: 5px 5px;
}

.myself{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
}

@media (max-width: 991px)  {
   .me {
    font-size: medium;
  }

  .myself{
    width: 100px;
    height: 100px;
    }
}