*{
    margin: 0;
    padding: 0;
}

.me{
    padding: 30px 30px 20px;
    font-size: x-large;
    line-height: 30px;
    color: lavender; 
    display: block;
    background: none;
    border:none;
    margin: auto;
    font-weight: bold;
    text-align: center;
    
}

h1{
    color: #ffc247;
    text-align: center;
    padding-top: 60px;
    
}

 .backBtn:hover {
    color: #43b1ac;

    
}

a:link{
    text-decoration: none;
}


.backBtn{
    font-size: xx-large;
    padding-top: 2px;
}
.me{
    max-width: 500px;
    padding: 5px 5px;
}


@media (max-width: 991px)  {
   .me {
    font-size: medium;
  }
}