 h1 {
     color: #ffc247;
     font-size: xxx-large;
     text-align: center;
     font-family: "Helvetica l", monospace;

 }

 h3 {
     background: none;
     border: none;
     margin: 30px;
     padding: 0;
     cursor: pointer;
     font-size: x-large;
     font-family: "Helvetica l", monospace;
     font-weight: bold;
     /*font-size: x-large;*/
     text-align: center;
     font-family: "Helvetica l", monospace;
     color: #ffc247;
 }

 html {





     background-color: #373F51;
     background-size: cover;


 }

 /* for html: #2A403D
 #748B6F
#0E0B16;
#27393f

 */
 a:link {
     color: black;
     text-decoration: none;
 }


 a:visited {
     color: black;
     text-decoration: none;
 }


 h3:hover {
     color: #43b1ac;
 }



 /*
#E59560
position: absolute;
     top: 65% ;
     left: 40%; */
 button:hover {
     color: #43b1ac;
 }

 img.center {
     height: 150px;
     width: 150px;
     display: block;
     margin: 0 auto;

 }

 .modalbtn {
     color: #ffc247;
     background: none;
     border: none;
     padding: 0;
     cursor: pointer;
     font-size: x-large;
     font-weight: bold;
     font-family: "Helvetica l", monospace;
 }

 .floating {
     filter: invert(82%) sepia(75%) saturate(1728%) hue-rotate(321deg) brightness(102%) contrast(101%);
     animation-name: floating;
     animation-duration: 3s;
     animation-iteration-count: infinite;
     animation-timing-function: ease-in-out;
     height: 300px;
     width: 300px;
     display: block;
     margin: 0 auto;
 }

 .floating2 {

    
     filter: invert(58%) sepia(79%) saturate(242%) hue-rotate(156deg) brightness(88%) contrast(80%);
     height: 500px;
     width: 500px;
     display: block;
     margin: auto;
     color: #639DBB
 }

 @keyframes floating {
     from {
         transform: translate(0, 0px);
     }

     65% {
         transform: translate(0, 15px);
     }

     to {
         transform: translate(0, -0px);
     }
 }
/*
 div.modal {
     display:inline-block;
     position:relative; 
    left:50%;
     transform: translate(-50%, -50%);
     width: auto;
     background-color: #637092;
     padding: 3rem;
     border-radius: 5px;
     box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.3);
     z-index: 10;
     font-family: "Helvetica l", monospace;


 }


div.modcont{
    font-family: "Helvetica l", monospace;
    border-radius: 12px;   
    background-color:aliceblue;
    margin: auto;
    padding: 50px;
    width: auto;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.9),0 7px 20px 0 rgba(0,0,0,0.9);

}

*/
.modal{
            padding: 10px 10px 10px 10px;
            -webkit-animation-name: modal-animation;
            -webkit-animation-duration: 0.5s;
            animation-name: modal-animation;
            animation-duration: 0.5s;
            display:none;
        }
          
        @-webkit-keyframes modal-animation {
            from {
                top: -100px;
                opacity: 0;
            }
            to {
                top: 0px;
                opacity: 1;
            }
        }
          
        @keyframes modal-animation {
            from {
                top: -100px;
                opacity: 0;
            }
            to {
                top: 0px;
                opacity: 1;
            }
        }
 

.clsbtn {
     color: #ffc247;
     
     float: right;
     font-size: xx-large;

 }

 .clsbtn:hover,
 .clsbtn:focus {
     color: #BACEC1;
     text-decoration: none;
     cursor: pointer;
 }

 img {
     filter: invert(82%) sepia(75%) saturate(1728%) hue-rotate(321deg) brightness(102%) contrast(101%);
 }

 h4 {
     color: #ffc247;
 }

 .center {


     border-radius: 0px;
     box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);









     filter: none
 }

 p {

     background: none;
     border: none;
     margin: 30px;
     padding: 0;

     font-size: large;
     font-family: "Helvetica l", monospace;
     font-weight: bold;
     /*font-size: x-large;*/
     text-align: left;
     font-family: "Helvetica l", monospace;
     color: lavender;
 }

 h5 {
     background: none;
     border: none;
     margin: 30px;
     padding: 0;

     font-size: medium;
     font-family: "Helvetica l", monospace;
     font-weight: bold;
     /*font-size: x-large;*/
     text-align: left;
     font-family: "Helvetica l", monospace;
     color: lavender;

 }

 h6 {
     background: none;
     border: none;
     margin: 30px;
     padding: 0;
     font-size: small;

     font-family: "Helvetica l", monospace;
     font-weight: bold;
     /*font-size: x-large;*/
     text-align: left;
     font-family: "Helvetica l", monospace;
     color: #5B6886;